*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 171, 171);
    padding: 1rem;
}

.link-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.link-profile img {
    border-radius: 50%;
}

.newGame-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.new-game {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: bold;
}

.new-game:hover {
    background-color: grey;
    cursor: pointer;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.board {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    gap: .5rem;
}

.cell {
    font-size: 4rem;
    display: grid;
    place-items: center;
    border: 2px solid #333;
    background: #fff;
    cursor: pointer;
    border-radius: .5rem;
}

footer {
    grid-area: footer;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}